@import "tailwindcss";

:root {
  --background: #dbdbdb;
  --foreground: #171717;
}

/* Scrollbar styling - PASTIKAN selector tepat */
::-webkit-scrollbar {
  width: 4px;
  border-color: #2560df;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #1c78d4;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: #113972;
}